<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="ManCave" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:20276/ChatService.svc/Man"
                binding="wsHttpBinding" bindingConfiguration="ManCave" contract="ServiceReference1.IChatService"
                name="ManCave">
                <identity>
                    <userPrincipalName value="Lennart\NellyHaglund" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:20276/ChatService.svc/All"
                binding="wsHttpBinding" bindingConfiguration="ManCave" contract="ServiceReference1.IChatService"
                name="All">
                <identity>
                    <userPrincipalName value="Lennart\NellyHaglund" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:20276/ChatService.svc/Woman"
                binding="wsHttpBinding" bindingConfiguration="ManCave" contract="ServiceReference1.IChatService"
                name="Boudoir">
                <identity>
                    <userPrincipalName value="Lennart\NellyHaglund" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>